@model Recipe
@{
    ViewData["Title"] = "Accueil";
}

    <body style="background-image: url('images/common/home/bgkitchen.jpg');">


        <div class="jumbotron" style="background: rgba(255, 255, 255, 0.6);">
            <h1 class="display-3 text-black-50 font-weight-bolder">Dernière recette ajoutée</h1>
            @if (Model != null)
            {
                <h2 class="lead text-black-50 font-weight-bolder">@Model.Name</h2>
            

                
                    <img src="@Model.ImageUrl" style="border-radius:5px; border: 1px solid #bbb9b9" class="frame"/>
                

                <hr class="my-4">
                <p>@Model.ShortDescription</p>
                <p class="lead">
                    <a class="btn btn-primary btn-lg" asp-controller="Recipes" asp-action="Detail" asp-route-recipeId="@Model.Id" role="button">Voir la recette</a>
                </p>

            }
        </div>

    </body>