@model Recipe
@{
    ViewData["Title"] = "Home Page";
}



<div class="jumbotron">
    <h1 class="display-3">Dernière recette ajoutée</h1>
    <p class="lead">@Model.Name</p>
    <hr class="my-4">
    <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
    <p class="lead">
        <a class="btn btn-primary btn-lg" asp-controller="Recipes" asp-action="Index" role="button">Voir la liste des recettes</a>
    </p>
</div>