@model KooBooKMVC.ViewModels.RecipeListViewModel
@{
    ViewData["Title"] = "Liste des recettes";
}

<h1>Liste des recettes</h1>

<form method="get">
    <div class="form-group">
        <div class="input-group">
            <input type="search" class="form-control"
                   asp-for="searchTerm" />

            <span class="input-group-btn">
                <button type="button" class="btn btn-primary">Recherche</button>
            </span>
        </div>
    </div>
</form>

@foreach (var recipe in Model.Recipes)
{
    <div class="card mb-3" style="float:left">
        <a asp-controller="Recipes"
           asp-action="Detail"
           asp-route-recipeId="@recipe.Id">
            <img style="height: 300px; width: 300px; display: block;" src="@recipe.ImageUrl" alt="image @recipe.Name">
            <h3 class="card-header mb-3">@recipe.Name</h3>

        </a>
    </div>

}



<div style="clear: both">
    <a class="btn btn-primary"
       asp-controller="Recipes"
       asp-action="Edit">
        <i class="btn badge-primary">Ajouter</i>
    </a>
</div>


@section scripts
{

}
