@model KooBooKMVC.ViewModels.RecipeListViewModel
@{
    ViewData["Title"] = "Liste des recettes";
}

<h1>Liste des recettes</h1>


<table class="table" id="recipes">
    @foreach (var recipe in Model.Recipes)
    {
        <tr>
            <td>@recipe.Name</td>
            <td>@recipe.Type</td>
            <td>
                <a class="btn btn-outline-primary"
                   asp-controller="Recipes"
                   asp-action="Detail"
                   asp-route-recipeId="@recipe.Id">
                   Détails
                </a>
            </td>


        </tr>


    }

</table>

<a class="btn btn-primary"
   asp-controller="Recipes"
   asp-action="Edit">
    <i class="btn badge-primary">Ajouter</i>
</a>



@section scripts
{

}