@model KooBooKMVC.ViewModels.RecipeListViewModel
@{
    ViewData["Title"] = "Admin - Recettes";
}

<h1>Administration - Recettes</h1>


<table class="table" id="recipes">
    @foreach (var recipe in Model.Recipes)
    {
        <tr>
            <td>@recipe.Name</td>


            <td>
                <a class="btn border-secondary"
                   asp-controller="Recipes"
                   asp-action="Edit"
                   asp-route-recipeId="@recipe.Id">
                    <i class="far fa-edit"></i>
                </a>
            </td>
            <td>
                <button data-recipe-id="@recipe.Id" class="btn btn-outline-danger js-delete"><i class="fas fa-trash"></i></button>

            </td>
        </tr>


    }

</table>




@section scripts
{
    <script>
        $(document).ready(function () {
            $("#recipes").on("click",".js-delete", function () {
                var button = $(this);

                if (confirm("Êtes-vous certain de vouloir supprimer cette recette ?")) {
                    $.ajax({
                        url: "/api/recipes/" + button.attr("data-recipe-id"),
                        method: "DELETE",
                        success: function () {
                            button.parents("tr").remove();
                        }
                    });
                }
            });
        });


    </script>
}