@model RecipeComponent
@{
    ViewData["Title"] = "Edit";
}


<input type="hidden" asp-for="Id" />
<tr class="table-light">

    <td>
        <div class="form-group">
            <input asp-for="Quantity" class="form-control" />

            <span class="text-danger" asp-validation-for="Quantity"></span>
        </div>
    </td>
    <td>
        <div class="form-group">
            <select class="form-control" asp-for="Unit">
                <option>g</option>
                <option>mL</option>
                <option>càc</option>
                <option>càs</option>
                <option>Unité</option>
            </select>
            <span class="text-danger" asp-validation-for="Unit"></span>
        </div>
    </td>
    <td>
        <div class="form-group">
            <input class="form-control ingredient" asp-for="Ingredient.Name" />
            <span class="text-danger" asp-validation-for="Ingredient.Name"></span>
        </div>
    </td>

    <td>
        <button type="button" data-recipecomponent-id="@Model.Id" class="btn btn-outline-danger js-delete"><i class="fas fa-trash"></i></button>
    </td>

</tr>


@section scripts
{
    <script>
        $(document).ready(function () {
            $("#recipecomponents").on("click", ".js-delete", function () {
                var button = $(this);
                console.log("ok");

                if (confirm("Êtes-vous certain de vouloir supprimer cet ingrédient ?")) {
                    $.ajax({
                        url: "/api/recipecomponents/" + button.attr("data-recipecomponent-id"),
                        method: "DELETE",
                        success: function () {
                            button.parents("tr").remove();
                        }
                    });
                }
            });
        });


    </script>

}