@model KooBooKMVC.ViewModels.IngredientListViewModel
@{
    ViewData["Title"] = "Liste des ingrédients";
}

<h1>Liste des ingrédients</h1>


<table class="table" id="ingredients">
    @foreach (var ingredient in Model.Ingredients)
    {
        <tr>
            <td>@ingredient.Name</td>
            <td>
                <a class="btn border-primary"
                   asp-controller="Ingredients"
                   asp-action="Detail"
                   asp-route-ingredientId="@ingredient.Id">
                    Détails
                </a>
            </td>
            <td>
                <a class="btn border-secondary"
                   asp-controller="Ingredients"
                   asp-action="Edit"
                   asp-route-ingredientId="@ingredient.Id">
                    Editer
                </a>
             </td>
            <td>
                <button data-ingredient-id="@ingredient.Id" class="btn btn-outline-danger js-delete">Supprimer</button>
            </td>
        </tr>
    }
    </table>

<a class="btn btn-primary"
   asp-controller="Ingredients"
   asp-action="Edit">
    <i class="btn badge-primary">Ajouter</i>
</a>


@section scripts
{ 
    <script>
        $(document).ready(function () {
            $("#ingredients").on("click",".js-delete", function () {
                var button = $(this);
                
                if (confirm("Êtes-vous certain de vouloir supprimer cet ingrédient ?")) {
                    $.ajax({
                        url: "/api/ingredients/" + button.attr("data-ingredient-id"),
                        method: "DELETE",
                        success: function () {
                            button.parents("tr").remove();
                        }
                    });
                }
            });
        });


    </script>
}